{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Créer une nouvelle recette</h1>
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.preparationTime) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.difficulty) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.steps) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
